 .container {
  width: 700px;
  margin: auto;
  text-align: center;
}

.box input {
  margin: 5px;
  padding: 5px;
}

button {
  padding: 6px 12px;
  cursor: pointer;
}

.error {
  color: red;
}

.result {
  margin-top: 10px;
  font-weight: bold;
}

table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #999;
  padding: 6px;
}
